* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.inactive {
	display: none;
}

.active {
	display: flex;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

button[type=button] {
	padding: 10px 20px;
	color: white;
	letter-spacing: 1.2px;
	border-radius: 8px;
	border: 1px solid green;
	background-color: green;
}

main {
	flex-direction: column;
}

.welcome {
	height: 100vh;
}

h1 {
	margin: 20px auto;
	/*text-align: center;*/
}

/*CARDS*/
#choosePet {
	width: 320px;
	height: 100vh;
	padding: 40px 0;
	text-align: center;
}

#choosePetCards {
	margin: 40px 0;
	flex-wrap: wrap;
	gap: 20px;
}

.pet_cards {
	width: 220px;
	height: 120px;
	border-radius: 10px;
	background-color: green;
}

input[type=radio]  {
  display: none;
}

.pet_cards--name {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

#choosePetBtn {
	/*color*/
}

/*MAP*/
#canvasMap {
	margin: 80px auto;
	border: 1px solid black;
}

.map__buttons {
	margin: 0 auto;
	flex-wrap: wrap;
	gap: 10px;
}

.map__buttons button {
	/*colores */
}

/*ATTACKS*/
#chooseAttack {
	margin: 50px auto;
}

/*RESTART*/
#restart {

}

#restartBtn {
	/*color*/
}

@media screen and (min-width: 768px) {
	#choosePet {
		width: 700px;
	}
}

